@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-color: #260148;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.right ul {
  display: flex;
  justify-content: center;
}

.right ul li {
  list-style: none;
  margin: 0px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  transition: .6s;
}

.right ul li:hover {
  background-color: blueviolet;
}

nav ul li a {
  text-decoration: none;

}

.left {
  margin-left: 35px;
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;

}

.firstsection>div {
  width: 30%;
  /* background-color: red; */
}

.leftsection {
  font-size: 3rem;
  margin: 45px 0px;
  justify-items: center;
}

.rightsection img {
  margin: 35px 0px;
  ;
  height: 50vh;
  border-radius: 91px;
  border-style: double;
  border-width: 5px;
  filter: drop-shadow(-21px 16px 40px rgb(141, 139, 169));
}

.purple {
  color: rgb(186, 132, 238);
}

#About {
  text-align: center;
  font-size: 3rem;
  margin-top: 65px;
  /* background-color: red; */
}

.details {
  width: 83%;
  text-align: center;
  /* margin-top: 10px; */
  margin: 10px 129px;
}

/* .horizontal-line {
    border: 1px solid #ffffff; 
    margin: 127px 0px 0px 0px;
  } */

.highlight1 {
  font-size: 25px;
  color: rgb(186, 132, 238);
  /* filter: drop-shadow(-21px 16px 40px rgb(141, 139, 169)); */
}

.horizontal-line {
  border: none;
  /* Remove the default line */
  height: 1px;
  /* Set the height to create a thin line */
  background: linear-gradient(to right, transparent -20%, #ccc 50%, #9c41adba);
  /* Create a gradient */
  background-size: 200% 100%;
  /* Control the gradient size and direction */
  animation: shine 3s infinite linear;
  /* Create a shining animation */
  margin: 20px 0;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.Academic-details {
  text-align: center;
  font-size: 2rem;
  margin-top: 65px;
}

.academic-list {
  display: grid;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
}

.academic-list li {
  margin: 10px 0px;
}

.technicalskill {
  text-align: center;
  font-size: 2rem;
  margin-top: 65px;
}

.technical-list {
  display: grid;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
}

.technical-list li {
  margin: 10px 0px;
}

.interest {
  text-align: center;
  font-size: 2rem;
  margin-top: 65px;

}

.interest-list {
  display: grid;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
}

.interest-list li {
  margin: 10px 0px;
}

#Contact {
  text-align: center;
  font-size: 3rem;
  margin-top: 65px;
}

.thirdsection {
  height: 25vh;
}

.image {
  width: 40px;
  margin-right: 10px
}

.mailspan{
  display: inline-block; 
  vertical-align: middle;
}
.mailcontent{
  display: flex; /* Use flexbox to create a flexible container */
  align-items: center;
  justify-content: center;
}
